<p>
    A console app for tracking assets withing a company, with offices in three countries.
    It is connected to a database, which allows users to add, edit, remove and save assets to a file.
    <br /><br />
    Main features:<br /><br />
    <b>Add/Edit/Remove on database</b><br />
    <b>Connects to currency API for rates</b><br />
    <b>Convert asset value to local currency</b><br />
    <b>Sort, search and filter assets</b><br />
    <b>Warn user if asset is about to expire or already expired</b>
    <br /><br />
    The app checks live currency rates (for the day) and converts the asset value to the local currency.
    The user is able to sort, search and filter assets in various ways, in the Edit Menu.
    It aslo warns the user if any asset is about to expire, or if the asset is already expired.
    <br /><br />
    It is written in C# and uses a SQL database.
    It has some responsive design as well as a user-friendly design, allowing for fast navigation.
    Check it out on GitHub, if you wanna give it a go!
    <br /><br />
</p>