<p>
    An app aimed at econimists and data scientists dealing with large datasets.
    <br/><br/>
    The app has the following features:<br/><br/>
    <b>Uploading CSV and XLSX files</b><br/>
    <b>Filtering columns</b><br/>
    <b>Renaming columns</b><br/>
    <b>Creating pivot tables</b><br/><br/>
    CSVTOOL allows users to upload files, and download them in CSV format.
    It also provides a simple interface for converting XLSX files to CSV.
    At upload, the user can filter out columns and edit the column names.
    <br/><br/>
    The user can then create pivot tables from the data with a fast interface and view the results directly in the app.
    The user can also download the pivot table as a CSV file.
    <br/><br/>
    The app aslo has an alpha feature for visualizing the data in interactive charts.
    The app is built with Python and uses the Pandas library for data manipulation, and Plotly for visualizing.
    <br /><br />
</p>