<p>
    This is a simple To-Do List console app, which allows users to
    Add/Edit/Remove and Save tasks to file.
    <br /> The project is written in C#. It consists of three main parts: <br
    /><br />
    <b>Main Menu</b><br />
    <b>Add Task</b><br />
    <b>Edit Tasks</b><br /><br />
    The user is able to sort, search and filter tasks in various ways, in the Edit
    Menu.
    <br /><br />
    It has some responsive design as well as a user-friendly design, allowing for
    fast navigation. Check it out on GitHub, if you wanna give it a go!
    <br /><br />
</p>