<p>
    This is a modular RAG pipeline! 
    Built to compare different parts of the RAG pipeline. 
    It is easy to customize and extend. 
    Uses ChromaDB as vector database.
    <br /> <br /> 
    Can be used to compare:
    <br/><br />
    <b>Parsers</b><br />
    <b>Chunking Strategies</b><br />
    <b>Embedding Models</b><br />
    <b>Re-Reankers</b><br />
    <b>Context Adding Strategies</b>
    <br /><br />
    It allows users to load embedding models in three ways:
    <br/><br />
    <b>API calls</b><br />
    <b>Local Server</b><br />
    <b>Transformers</b>
    <br /><br />
    There are helping scripts to increase efficiency during tesing.
    You can find scripts for: Pre-rendering files as markdown files,
    Calculating accuracy, getting csv files with results,
    generating plots, generating LLM responses, and some other usfull stuff.
    Have a look around the repository!
    <br /><br />
</p>