<p>
    This is a group project, it is a mock movie store website.
    <br /> <br /> 
    Main feautures include:
    <br/><br />
    <b>API for movie data</b><br />
    <b>Working cart component</b><br />
    <b>Clear and responsive design</b>
    <br /><br />
    We used the TMDB API to get the movie data.
    It was built using Astro, React and Pico CSS. 
    It is a responsive website, which allows users to search for movies, 
    get more detailed information, and add items to their cart.
    <br /><br />
</p>