<span class="skill-span">
    I enjoy working with design, both visual and abstract.
    Ever since I discovered SVG and vector graphics, I was hooked.
    It combines mathematics, computation and visual graphics into beautiful unpixelated images.
    <br/><br/>
    There is great value in good design.
    It is not just looks, it is also communication and functionality.
    I like sketching out my designs, to see where improvments can be made,
    or to see how various parts should be connected or integrated.
    <br/><br/>
    User experience is often overlooked in some areas, 
    where thoughtful design could make large institutions more efficient.
    Which is important since we all rely on it.
    We need to get better at judging the efficiency in our designs.
    <br/><br/>
    I mostly work will tools like Adobe Illustrator, vanilla CSS, and pen and paper.
    But I have experience with Tailwind CSS, and have always been trying new tools and software.
</span>