<span class="skill-span">
    Solving mathematical problems has always been fun for me. I never hated it, like some people did.
    When I started my mathematics courses at university, I started to learn how it was to struggle.
    I took courses such as linear algebra, multivariable analysis and statistics, which were necessary for physics.
    <br/><br/>
    In my studies, I saw the connection between programming and mathematics. 
    The formulations made more sense, and I finally understood what a function was intuitively.
    <br/><br/>
    I was lucky to get into machine learning, after I learned linear algebra and analysis.
    It helps greatly to know about vectors, matrix manipulations and gradient descent, 
    when trying to understand machine learning.
</span>