<span class="skill-span">
    As a hobby musician, and music fan, audio production and design has always intereted me.
    I was not satisfied with just learning to play the songs, 
    I wanted to record and mix it, and learn all about the technologies used.
    For that, I needed to learn a whole new world of software and plugins.
    I also learned how quickly your computer recources become less impressive, when you want to use fancy stuff.
    <br/><br/>
    I enjoy the hardware side as well, such as: mixers, speakers, amplifiers, stage lights and broadcasting equipment.
    I have music studio experience and also some experience working at festivals, bulding stages and mixing live bands.
    <br/><br/>
    After my physics studies I started to understand more about sound and waves. 
    This added to my music theory knowledge and made me more aware of what the 
    hardware and software actually does to the soundwaves.
    The analogue to digital conversions and quality losses became more intuitive as well.
</span>