<span class="skill-span">
    I have always been fascinated by science and physics.
    Like most, I became interested by looking at the night sky, 
    thinking about the things I don't understand. 
    As I became older, I had a need to learn about the facts of reality.
    I needed to know why everything was and what it was made of.
    <br/><br/>
    I studied physics for three years, and wrote a bachelor's thesis in particle physics. 
    Physics taught me what things were made of, 
    my particle physics professor made sure of that.
    But it never answered why we exist or any similar philosophical questions.
    With the latest advances and progress in fields like quantum physics,
    it has become more abstract and less intuitive of a model of reality.
    <br/><br/>
    I enjoy knowing how the world works, on a physical level.
    It helps in almost all parts of life. 
    Especially when it comes to how computers work, at the lowest level.
</span>