---
import PhoneIcon from "../assets/SVG/PhoneIcon.svg";
import PinIcon from "../assets/SVG/PinIcon.svg";
import EmailIcon from "../assets/SVG/EmailIcon.svg";
import GitIcon from "../assets/SVG/GitIcon.svg";
import CVCircle from "./CVCircle.astro";
import { Image } from "astro:assets";
import profilePic from "../assets/PNG/CVBild.png";
---

<div class="cv-container">
    <article class="cv-article">
        <div class="cv-flex-div">
            <section class="cv-intro-section">
                <h1 class="cv-title">
                    CV<br />Dilan Chroscik
                </h1>
                <p class="cv-intro-text">
                    After over 10 years of work in the kitchen, I feel that it
                    is time to move on. I have been in everything from the local
                    pub to fine-dining restaurants, which has allowed me to
                    experience much of what the industry has to offer. Food is
                    still one of my passions, but my goals have changed so now I
                    look towards new opportunities.
                    <br /><br />
                    I have had experience in other industries, and I studied physics
                    and some informatics as well. My interests are too many to count,
                    but I like to learn, and I do so quickly. I am very solution
                    oriented and more than willing to find compromises. As a consequence,
                    I get along well with co-workers and I often get awarded with
                    more responsibilities.
                    <br /><br />
                    Currently, I am looking for work/intership, as I am finishing
                    a nine month advanced programming course at Lexicon. The course
                    content included:
                    <br /><br />
                    C#, .NET fullstack, MVC, Database Management, ORM & Entity Framework,
                    Azure Cloud, Microsoft SQL Server, LINQ, TypeScript, JQUERY,
                    React, TailwindCSS, Agile - Scrum, Testing Methodologies, Machine
                    Learning with Python using Pandas and Numpy.
                </p>
            </section>
            <br />
            <br />
            <section class="cv-edu-section">
                <h2 class="cv-edu-title cv-subtitle">Education</h2>
                <ul class="cv-edu-list">
                    <li>
                        <ul class="cv-edu-details-list">
                            <li class="cv-edu-details-list-title">
                                Current Education
                            </li>
                            <li class="cv-edu-details-list-location">
                                <span>Lexicon</span>
                                <span>/</span>
                                <span>2024.11 - 2025.08</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cv-edu-details-list">
                            <li class="cv-edu-details-list-title">
                                AZ-900 Certification
                            </li>
                            <li class="cv-edu-details-list-location">
                                <span>Microsoft</span>
                                <span>/</span>
                                <span>2025.03 - 2025.04</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cv-edu-details-list">
                            <li class="cv-edu-details-list-title">
                                180 hp Studies in Physics and Mathematics,
                                <br />
                                Bachelor's thesis in particle physics
                            </li>
                            <li class="cv-edu-details-list-location">
                                <span>Lund University</span>
                                <span>/</span>
                                <span>2017.09 - 2020.06</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cv-edu-details-list">
                            <li class="cv-edu-details-list-title">
                                70 hp Studies in Informatics
                            </li>
                            <li class="cv-edu-details-list-location">
                                <span>Mittuniversitetet</span>
                                <span>/</span>
                                <span>2014.09 - 2016.03</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="cv-work-section">
                <h2 class="cv-work-title cv-subtitle">Work experience</h2>
                <ul class="cv-work-list">
                    <li>
                        <ul class="cv-work-details-list">
                            <li class="cv-work-details-list-title">
                                <span>Sous Chef</span>
                            </li>
                            <li class="cv-work-details-list-location">
                                <span>Karl-Mikael</span>
                                <span>/</span>
                                <span>2024.05 - 2024.09</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cv-work-details-list">
                            <li class="cv-work-details-list-title">
                                <span>Cook</span>
                            </li>
                            <li class="cv-work-details-list-location">
                                <span>Ivini Vinbar</span>
                                <span>/</span>
                                <span>2023.11 - 2024.05</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cv-work-details-list">
                            <li class="cv-work-details-list-title">
                                <span>Head Chef</span>
                            </li>
                            <li class="cv-work-details-list-location">
                                <span>Hamnkrogen</span>
                                <span>/</span>
                                <span>2023.04 - 2023.11</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cv-work-details-list">
                            <li class="cv-work-details-list-title">
                                <span>Head Chef</span>
                            </li>
                            <li class="cv-work-details-list-location">
                                <span>Restaurang Möllan</span>
                                <span>/</span>
                                <span>2022.01 - 2023.04</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cv-work-details-list">
                            <li class="cv-work-details-list-title">
                                <span>Head Chef</span>
                            </li>
                            <li class="cv-work-details-list-location">
                                <span>Kville Biljard</span>
                                <span>/</span>
                                <span>2020.06 - 2021.10</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
        <aside class="cv-right-aside">
            <Image class="profile-pic" src={profilePic} alt="profile-pic" />
            <section class="cv-contact-section">
                <h2 class="cv-contact-title cv-subtitle">Contact</h2>
                <ul class="cv-contact-list">
                    <li>
                        <a href="https://www.google.com/maps/search/?api=1&query=Malm%C3%B6%2C+Sweden"
                        target="_blank">
                            <span>
                                <PinIcon class={"cv-icons"} />
                                Malmö, Sweden
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:0767039336">
                            <span>
                                <PhoneIcon class={"cv-icons"} />
                                076-7039336
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:dc91_@hotmail.com">
                            <span>
                                <EmailIcon class={"cv-icons"} />
                                dc91_@hotmail.com
                            </span>
                        </a>
                    </li>
                    <li>
                        <a  href="https://github.com/dc91" target="_blank">
                            <span>
                                <GitIcon class={"cv-icons"} />
                                dc91
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="cv-pro-con-section">
                <h2 class="cv-pro-con-title cv-subtitle">Pros/Cons</h2>
                <span class="pro-con-symbol pro-symbol">+</span>
                <ul class="cv-pro-con-list cv-pro-list">
                    <li>Takes Own Initiatives</li>
                    <li>Willing to Learn</li>
                    <li>Great Teamplayer</li>
                    <li>Finds Creative Solutions</li>
                </ul>
                <span class="pro-con-symbol con-symbol">-</span>
                <ul class="cv-pro-con-list cv-con-list">
                    <li>Not a morning person</li>
                    <li>Thinks too much</li>
                    <li>Hard to please</li>
                </ul>
            </section>
            <section class="cv-lang-section">
                <h2 class="cv-lang-title cv-subtitle">Languages</h2>
                <ul class="cv-lang-list">
                    <li>
                        Svenska
                        <span>
                            <CVCircle />
                            <CVCircle />
                            <CVCircle />
                            <CVCircle />
                            <CVCircle />
                        </span>
                    </li>
                    <li>
                        English
                        <span>
                            <CVCircle />
                            <CVCircle />
                            <CVCircle />
                            <CVCircle />
                            <CVCircle />
                        </span>
                    </li>
                    <li>
                        Polski
                        <span>
                            <CVCircle />
                            <CVCircle />
                            <CVCircle />
                            <CVCircle fillColor="#fff" />
                            <CVCircle fillColor="#fff" />
                        </span>
                    </li>
                </ul>
            </section>
        </aside>
    </article>
</div>
<style>
    /* ------------------------ */
    /* ----------Main---------- */
    /* ------------------------ */
    a {
        text-decoration: none;
        color: #888;
    }
    a:hover {
        text-decoration: none;
        color: #000;
    }
    .profile-pic {
        width: 200px;
        height: auto;
        border-radius: 20px;
        align-self: center;
    }
    .cv-container {
        height: 100%;
        width: 100%;
    }
    .cv-article {
        margin: 200px auto;
        padding: 0 20px 200px 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        line-height: 1.2;
    }
    .cv-flex-div {
        padding-right: 50px;
    }
    .cv-right-aside {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cv-title {
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 1.5em;
    }
    .cv-article p,
    .cv-article span,
    .cv-article li {
        font-size: clamp(1rem, 1.2vw, 1.3rem);
    }

    .cv-subtitle {
        font-size: clamp(1.4rem, 2.5vw, 1.8rem);
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .cv-right-aside .cv-subtitle {
        text-align: center;
    }

    /* ------------------------ */
    /* ----------Intro--------- */
    /* ------------------------ */
    .cv-intro-text {
        max-inline-size: 650px;
        min-inline-size: 250px;
        text-align: justify;
    }

    /* ------------------------ */
    /* -------Edu & Work------- */
    /* ------------------------ */
    .cv-edu-list,
    .cv-work-list {
        list-style-type: square;
        width: max-content;
    }
    .cv-edu-details-list-title,
    .cv-work-details-list-title {
        font-weight: bold;
        line-height: 1.2;
        padding-bottom: 0.2em;
    }

    .cv-edu-details-list-location,
    .cv-work-details-list-location {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;
        width: 50vw;
        min-width: 270px;
        max-width: 650px;
        gap: 0px;
        padding-bottom: 1em;
    }

    .cv-edu-details-list-location > span:nth-child(1),
    .cv-work-details-list-location > span:nth-child(1) {
        grid-column: 1;
        white-space: nowrap;
    }

    .cv-edu-details-list-location > span:nth-child(2),
    .cv-work-details-list-location > span:nth-child(2) {
        grid-column: 2;
    }

    .cv-edu-details-list-location > span:nth-child(3),
    .cv-work-details-list-location > span:nth-child(3) {
        grid-column: 3;
        white-space: nowrap;
    }

    /* ------------------------ */
    /* --------Contact--------- */
    /* ------------------------ */
    .cv-icons {
        height: 30px;
        width: 30px;
        filter: invert(1);
        justify-self: flex-start;
        padding-right: 0.5em;
    }
    .cv-contact-list li span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-bottom: 1em;
        align-items: flex-end;
    }

    /* ------------------------ */
    /* ---------Pro/Con-------- */
    /* ------------------------ */
    .cv-pro-con-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cv-pro-list {
        padding-bottom: 0em;
        max-height: 120px;
    }
    .cv-pro-con-list li {
        padding-bottom: 0.75em;
    }
    .cv-pro-con-section .pro-con-symbol {
        font-size: 5rem;
    }
    .cv-pro-con-section .pro-symbol {
        color: #0f0;
    }
    .cv-pro-con-section .con-symbol {
        color: #f00;
    }
    .cv-pro-con-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cv-pro-con-title {
        padding-bottom: 0em;
    }

    /* ------------------------ */
    /* ----------Lang---------- */
    /* ------------------------ */
    .cv-lang-list li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .cv-lang-list li span {
        text-wrap: nowrap;
    }
    .cv-lang-section {
        padding-top: 1em;
    }

    @media (max-width: 1200px) {
        .cv-article {
            margin: 200px auto;
            padding: 0 50px 200px 50px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            line-height: 1.2;
            width: max-content;
        }
        .cv-flex-div {
            padding-right: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 150px;
        }
        .cv-intro-text {
            max-inline-size: 550px;
            min-inline-size: 250px;
            width: 50vw;
            text-align: justify;
        }
        .cv-contact-list li span {
            justify-content: center;
        }
        .cv-right-aside {
            flex-direction: column-reverse;
            align-items: center;
            padding-left: 150px;
        }
        h2 .cv-right-aside .cv-pro-con-title {
            padding-top: 3em;
            padding-bottom: 0;
        }
        .profile-pic {
            margin-top: 2em;
        }
        .cv-lang-list span {
            padding-left: 1em;
        }
        .cv-pro-list {
            padding-bottom: 0em;
            max-height: 100px;
        }
    }
    @media (max-width: 750px), (max-height: 750px) {
        .cv-article {
            padding: 0 0.5em 200px 0.5em;
        }
        .cv-flex-div {
            padding-right: 0px;
            padding-left: 0px;
        }
        .cv-right-aside {
            padding-left: 0px;
        }
        .cv-intro-text {
            max-inline-size: 500px;
            min-inline-size: 200px;
            width: 80vw;
            text-align: justify;
        }
        .cv-title {
            font-size: 1.8rem;
        }
    }
</style>
