---

---

<div id="Welcome-text">
	<p>
		Hi, I'm Dilan, a passionate software enthusiast with a creative twist.
		My journey has been anything but ordinary — I've spent 10 years honing
		my skills as a cook and chef, mastering the art of creativity and
		precision in the kitchen. This hands-on experience taught me the value
		of discipline, problem-solving, and delivering results under pressure.
		<br /><br />
		I believe in focusing on substance over style, seeking processes that make
		sense, optimized for efficiency. Sometimes, following strict rules can be
		tough if they hinder progress, but my goal is always creating meaningful
		solutions in any circumstance.
		<br /><br />Alongside my culinary career, I've always been fascinated by
		science and computers and I have also had creative pursuits such as music and drawing. I
		thrive on deep-diving into a problem, trying to find a solution. With a
		bachelor's thesis in particle physics, I bring analytical thinking and a
		knack for data analysis into my work.
		<br /><br />
		I am well-versed in multiple skill sets, including .NET development, machine
		learning fundamentals, data analysis, music creation, and graphic design
		using SVG images.
		<br /><br />
		Check out the rest of my portfolio to learn more!
	</p>
</div>

<style>
	#Welcome-text {
		/* font-size: 1.4em; */
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	#Welcome-text p {
		display: block;
		margin: 0 auto;
		font-size: clamp(1.2rem, min(2vw,3vh), 1.75rem);
		width: clamp(20em, 50vw, 60em);
		padding: 200px 0vw 20vh 0vw;
		line-height: 1.2;
		max-inline-size: 1000px;
	}
	@media (max-width: 1000px) {
		#Welcome-text p {
			padding: 200px 0vw 20vh 10vw;
			width: clamp(20em, 60vw, 60em);
		}
	}
	@media (max-width: 750px), (max-height: 750px) {
		#Welcome-text p {
			background-color: #ffffffd8;
			backdrop-filter: blur(20px);
			font-size: 1.1rem;
			padding: 20vh 8vw 5vh 8vw;
			width: 100%;
			
		}
	}
</style>