<p class="skill-p">
    <span class="ccImport"> let </span>
    <span class="ccAttribute"> &nbsp;skills </span>
    <span class="ccText"> &nbsp;= </span>
    <span class="ccCurly"> &nbsp;&#123; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccAttribute"> javaScript: </span>
    <span class="ccString"> &nbsp;3.5 </span>
    <span class="ccText"> ; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccAttribute"> typeScript: </span>
    <span class="ccString"> &nbsp;3.0 </span>
    <span class="ccText"> ; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccAttribute"> nodeJS </span>
    <span class="ccString"> &nbsp;3.0 </span>
    <span class="ccText"> ; </span>
    <br />
</p>
<span class="skill-span">
    "I have a good handle on JavaScript and love using it to make web pages
    interactive and dynamic. From handling user input to adding cool
    animations, I focus on writing clean, functional code. While I'm always
    exploring new concepts, I feel confident building engaging, feature-rich
    experiences."
</span>
<p class="skill-p">
    &nbsp;&nbsp;
    <span class="ccAttribute">prefers: </span>
    <span class="ccString"> &nbsp;"vanilla" </span>
    <span class="ccText"> ; </span><br />
    &nbsp;&nbsp;
    <span class="ccAttribute">happiness : </span>
    <span class="ccString"> &nbsp;"medium" </span>
    <span class="ccText"> ; </span><br />
    <span class="ccCurly"> &#125; </span>
</p>