<p class="skill-p">
    <span class="ccSymbol"> &lt;! </span>
    <span class="ccTag"> DOCTYPE </span>
    <span class="ccAttribute"> &nbsp;html </span>
    <span class="ccSymbol"> &gt; </span>
    <br />
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> html </span>
    <span class="ccAttribute"> &nbsp;lang </span>
    <span class="ccText"> = </span>
    <span class="ccString"> "en" </span>
    <span class="ccSymbol"> &gt; </span>
    <br />
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> head </span>
    <span class="ccSymbol"> &gt; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> meta </span>
    <span class="ccAttribute"> &nbsp;charset </span>
    <span class="ccText"> = </span>
    <span class="ccString"> "UTF-8" </span>
    <span class="ccSymbol"> /&gt; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> title </span>
    <span class="ccSymbol"> &gt; </span>
    <span class="ccText"> HTML Skills </span>
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> /title </span>
    <span class="ccSymbol"> &gt; </span><br />
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> /head </span>
    <span class="ccSymbol"> &gt; </span><br />
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> body </span>
    <span class="ccSymbol"> &gt; </span><br />
    &nbsp;&nbsp;
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> p </span>
    <span class="ccSymbol"> &gt; </span>
</p>
<span class="skill-span">
    "I have a good grasp of HTML and enjoy creating web pages that are
    both functional and easy to navigate. I use semantic tags to keep
    things organized and accessible, focusing on clear structure and a
    user-friendly experience. While I'm still learning, I'm confident in
    building well-structured content."
</span>
<p class="skill-p">
    &nbsp;&nbsp;
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> /p </span>
    <span class="ccSymbol"> &gt; </span><br />
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> /body </span>
    <span class="ccSymbol"> &gt; </span><br />
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> /html </span>
    <span class="ccSymbol"> &gt; </span><br />
</p>