<p class="skill-p">
    <span class="ccClass">.css-skill-container</span>
    <span class="ccCurly">&nbsp;&#123;</span>
    <br />
    &nbsp;&nbsp;
    <span class="ccAttribute">display:</span>
    <span class="ccString">flex </span>
    <span class="ccText"> ; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccAttribute">skill-points:</span>
    <span class="ccString">&nbsp;4 </span>
    <span class="ccText"> ; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccAttribute">content:</span>
    &nbsp;&nbsp;
</p>
<span class="skill-span">
    "I have a solid understanding of CSS and enjoy bringing designs to life
    with clean and responsive styles. I focus on creating layouts that look
    great across devices, using modern techniques like flexbox and grid.
    While there's always more to learn, I'm confident in crafting visually
    appealing and user-friendly designs."
</span>
<p class="skill-p">
    &nbsp;&nbsp;
    <span class="ccAttribute">height:</span>
    <span class="ccString">195cm </span>
    <span class="ccText"> ; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccAttribute">padding:</span>
    <span class="ccString">&nbsp;0 </span>
    <span class="ccText"> ; </span>
    <br />
    <span class="ccCurly">&#125;</span>
</p>