<p class="skill-p">
    <span class="ccClass">---</span>
    <br />
    <span class="ccImport"> import&nbsp; </span>
    <span class="ccAttribute"> Layout&nbsp; </span>
    <span class="ccImport"> from </span>
    <span class="ccString"> &nbsp;'../layouts/Layout.astro' </span>
    <span class="ccText"> ; </span>
    <br />
    <span class="ccImport"> import&nbsp; </span>
    <span class="ccAttribute"> Skills&nbsp; </span>
    <span class="ccImport"> from </span>
    <span class="ccString"> &nbsp;'./AstroSkills.astro' </span>
    <span class="ccText"> ; </span>
    <br />
    <span class="ccClass">---</span>
    <br /><br />
    <span class="ccText">&nbsp;&lt;Layout&gt;</span>
    <br />
    &nbsp;&nbsp;
    <span class="ccText">&nbsp;&lt;Skills </span>
    <span class="ccAttribute">&nbsp;client:load</span>
    <span class="ccText">/&gt;</span>
    <br />
    &nbsp;&nbsp;
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> p </span>
    <span class="ccSymbol"> &gt; </span>
</p>
<span class="skill-span">
    "I like the minimalism and versatility of Astro. You can use it to build static sites, 
    but also to create dynamic web applications. It allows you to optionally add on your favorite frameworks and libraries, 
    which is a big plus for me.
    I am still learning it, but I am excited about the possibilities it offers."
</span>
<p class="skill-p">
    &nbsp;&nbsp;
    <span class="ccSymbol"> &lt; </span>
    <span class="ccTag"> /p </span>
    <span class="ccSymbol"> &gt; </span><br/>
    <span class="ccText">&nbsp;&lt;Layout /&gt;</span>
</p>