<p class="skill-p">
    <span class="ccImport"> import </span>
    <span class="ccText"> pandas </span>
    <span class="ccImport"> as </span>
    <span class="ccText"> pd </span>
    <br />
    <span class="ccImport"> import </span>
    <span class="ccText"> numpy </span>
    <span class="ccImport"> as </span>
    <span class="ccText"> np </span>
</p>
<span class="skill-span">
    "I have used python on and off for a while now. 
    I have used it for data analysis, calculations, and machine learning. 
    I am mostly familiar with libraries such as pandas, numpy, plotly, and keras."
</span>
<p class="skill-p">
    <span class="ccAttribute"> file </span>
    <span> = </span>
    <span class="ccClass"> get_user_file( </span>
    <span class="ccString"> "python_skills.csv" </span>
    <span class="ccClass"> ) </span>
    <br />
    <span class="ccClass"> print </span>
    <span> ( </span>
    <span class="ccAttribute"> file </span>
    <span> ) </span>
    <br />
</p>