<p class="skill-p">
    <span class="ccImport"> SELECT </span>
    <span class="ccClass"> * </span>
    <span class="ccImport"> FROM </span>
    <span class="ccAttribute"> SQLSkills </span>
    <span class="ccImport"> WHERE </span>
    <span class="ccString"> "Skill = 'Good';" </span>
    <br /><br />
</p>
<span class="skill-span">
    "I understand the fundamentals of database design and management.
    I mostly have experience with relational databases like MySQL and PostgreSQL.
    <br /><br />
    I can write fairly complex queries to retrieve and manipulate data.
    I understand concepts like joins, subqueries, and aggregations,
    as well as the importance of normalization, transactions in database management, and ensuring data integrity."
</span>