<p class="skill-p">
    <span class="ccSymbol"> #include&nbsp; </span>
    <span class="ccString"> &lt;iostream&gt; </span><br />
    <span class="ccTag"> using&nbsp; </span>
    namespace&nbsp;
    <span class="ccText"> std; </span>
    <br /><br />
    <span class="ccTag"> int&nbsp; </span>
    <span class="ccText"> main </span>
    <span class="ccText"> ( </span>
    <span class="ccTag"> void </span>
    <span class="ccText"> ) </span>
    <br />&#123;<br />
    &nbsp;&nbsp;
    <span class="ccTag"> int&nbsp; </span>
    skillPoints =&nbsp;
    <span class="ccClass"> 3.5 </span>
    <span class="ccText"> ; </span>
</p>
<span class="skill-span">
    "I have mostly used C++ with the Root library.
    It was for data analysis and simulation of particle physics experiments.
    This is where I also learned to work with Linux and the command line."
</span>
<p class="skill-p">
    &nbsp;&nbsp;
    <span class="ccAttribute"> cout&nbsp; </span>
    <span class="ccClass"> &lt;&lt;&nbsp; </span>
    <span class="ccAttribute"> skills.txt </span>
    <br />
    &#125;
</p>