<p class="skill-p">
    <span class="ccTag"> namespace&nbsp; </span>
    <span class="ccText"> C#Skills </span><br />
    <span class="ccCurly">
        &#123;<br />
    </span>&nbsp;&nbsp;
    <span class="ccTag"> class&nbsp; </span>
    <span class="ccText"> Program </span><br />&nbsp;&nbsp;
    <span class="ccCurly">
        &#123;<br />
    </span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="ccTag"> static void&nbsp; </span>
    <span class="ccClass"> Main </span>
    <span class="ccAttribute"> ( </span>
    <span class="ccTag"> string </span>
    <span class="ccImport"> []&nbsp; </span>
    <span class="ccAttribute"> args </span>
    <span class="ccAttribute"> ) </span>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="ccCurly">
        &#123;<br />
    </span>
</p>
<span class="skill-span">
    "I have had mixed feelings about C#, but i am starting to enjoy the latest versions of .NET.
    Especially when creating MVC or Blazor web applications. But I do enjoy working with terminal applications as well.
    I have been using C# for a while now, and I am getting more comfortable with it."
</span>
<p class="skill-p">
&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="ccCurly">
        &#125;<br />
    </span>
    &nbsp;&nbsp;
    <span class="ccCurly"> &#125; </span>

    <span class="ccCurly">
        <br />&#125;<br />
    </span>
</p>