<p class="skill-p">
    <span class="ccSymbol"> #include&nbsp; </span>
    <span class="ccString"> &lt;stdio.h&gt; </span>
    <br /><br />
    <span class="ccTag"> int&nbsp; </span>
    <span class="ccText"> main </span>
    <span class="ccText"> ( </span>
    <span class="ccTag"> void </span>
    <span class="ccText"> ) </span>
    <br />&#123;<br />
    &nbsp;&nbsp;
    <span class="ccTag"> int&nbsp; </span>
    skillPoints =&nbsp;
    <span class="ccClass"> 3 </span>
    <span class="ccText"> ; </span>
    <br />
    &nbsp;&nbsp;
    <span class="ccTag"> char * </span>
    cSkills =
    </p>
    <span class="skill-span">
        "I learned a lot about memory management, algorithms, and data structures in C. 
        I also learned about the importance of pointers and how they can be used 
        to manipulate data directly in memory. I have experience with file handling, 
        including reading and writing files. 
        I am comfortable with debugging and optimizing code for performance."
    </span>
    <p class="skill-p">
    &nbsp;&nbsp;
    <span class="ccText"> printf </span>
    (cSkills)
    <span class="ccText"> ; </span><br />
    &#125;
</p>